<a href="https://colab.research.google.com/github/srenouf/Tnsi/blob/master/tnsi_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Les tuples

### Noter un tuple

On peut construire un tuple à deux éléments de quatre façons :

In [ ]:
# sans parenthèse ni virgule terminale
couple1 = 1, 2
# avec parenthèses
couple2 = (1, 2)
# avec virgule terminale
couple3 = 1, 2,
# avec parenthèses et virgule
couple4 = (1, 2,)

In [ ]:
# toutes ces formes sont équivalentes ; tester
couple1 == couple4

Bilan :

* la **parenthèse est parfois superflue** ; mais il se trouve qu'elle est **largement utilisée** pour améliorer la lisibilité des programmes,elle est **parfois nécessaire** selon l'endroit où le tuple apparaît dans le programme ;
* la **dernière virgule est optionnelle** aussi, c'est le cas pour les tuples à au moins 2 éléments

### Conseil pour la présentation sur plusieurs lignes

En général d'ailleurs, la forme avec parenthèses et virgule terminale est plus pratique. Considérez par exemple l'initialisation suivante ; on veut créer un tuple qui contient des listes (naturellement un tuple peut contenir n'importe quel objet Python), et comme c'est assez long on préfère mettre un élément du tuple par ligne :

In [ ]:
mon_tuple = ([1, 2, 3],
             [4, 5, 6],
             [7, 8, 9],
            )

L'avantage lorsqu'on choisit cette forme (avec parenthèses, et avec virgule terminale), c'est d'abord qu'il n'est pas nécessaire de mettre un backslash à la fin de chaque ligne ; parce que l'on est à l'intérieur d'une zone parenthésée, l'interpréteur Python "sait" que l'instruction n'est pas terminée et va se continuer sur la ligne suivante.

Deuxièmement, si on doit ultérieurement ajouter ou enlever un élément dans le tuple, il suffira d'enlever ou d'ajouter toute une ligne, sans avoir à s'occuper des virgules ; si on avait choisi de ne pas faire figurer la virgule terminale, alors pour ajouter un élément dans le tuple après le dernier, il ne faut pas oublier d'ajouter une virgule à la ligne précédente. Cette simplicité se répercute au niveau du gestionnaire de code source, où les différences dans le code sont plus faciles à visualiser.

Signalons enfin que ceci n'est pas propre aux tuples. La virgule terminale est également optionnelle pour les listes, ainsi d'ailleurs que pour tous les types Python où cela fait du sens, comme les dictionnaires et les ensembles que nous verrons bientôt. Et dans tous les cas où on opte pour une présentation multi-lignes, il est conseillé de faire figurer une virgule terminale.

### Tuples à un élément

Pour revenir à présent sur le cas des tuples à un seul élément, c'est un cas particulier, parmi les quatre syntaxes que l'on a vues ci-dessus, on obtiendrait dans ce cas :

In [ ]:
# ATTENTION : ces deux premières formes ne construisent pas un tuple !
simple1 = 1
simple2 = (1)
# celles-ci par contre construisent bien un tuple
simple3 = 1,
simple4 = (1,)

* Il est bien évident que la première forme ne crée pas de tuple ;
* et en fait la seconde non plus, car Python lit ceci comme une expression parenthésée, avec seulement un entier.

Et en fait ces deux premières formes créent un entier simple :

In [ ]:
type(simple2)

Les deux autres formes créent par contre toutes les deux un tuple à un élément comme on cherchait à le faire :

In [ ]:
type(simple3)

In [ ]:
simple3 == simple4

Pour conclure, disons donc qu'il est conseillé de **toujours mentionner une virgule terminale** lorsqu'on construit des tuples.

### Parenthèse parfois obligatoire

Dans certains cas vous vous apercevrez que la parenthèse est obligatoire. Par exemple on peut écrire :

In [ ]:
x = (1,)
(1,) == x

Mais si on essaie d'écrire le même test sans les parenthèses :

In [ ]:
# ceci provoque une SyntaxError
1, == x

Python lève une erreur de syntaxe ; encore une bonne raison pour utiliser les parenthèses.

### Addition de tuples

Bien que le type tuple soit immuable, il est tout à fait légal d'additionner deux tuples, et l'addition va produire un **nouveau** tuple :

In [ ]:
tuple1 = (1, 2,)
tuple2 = (3, 4,)
print('addition', tuple1 + tuple2)

Ainsi on peut également utiliser  l'opérateur `+=` avec un tuple qui va créer, comme précédemment, un nouvel objet tuple :

In [ ]:
tuple1 = (1, 2,)
tuple1 += (3, 4,)
print('apres ajout', tuple1)

### Construire des tuples élaborés

Malgré la possibilité de procéder par additions successives, la construction d'un tuple peut s'avérer fastidieuse.

Une astuce utile consiste à penser aux fonctions de conversion, pour construire un tuple à partir de - par exemple - une liste. Ainsi on peut faire par exemple ceci :

In [ ]:
# on fabrique une liste pas à pas
liste = list(range(10))
liste[9] = 'Inconnu'
del liste [2:5]
liste

In [ ]:
# on convertit le résultat en tuple
mon_tuple = tuple(liste)
mon_tuple

### Tuples nommés

Le p-uplet nommé consiste à accéder à un champ (un des objets du p-uplet) non par sa position mais par son nom.
Le but est d’améliorer la lisibilité d’un programme.
<BR><BR>
*On souhaite créer un p-uplet nommé qui donne l’année de naissance, la ville de naissance et le pays de naissance d’une personne dont on connait le nom.*

*On utilise l’outil Info=pupletnommé(‘Nom’, ‘annee ville pays’) pour créer autant d'objets du même type que l'on souhaite.*
*Il faudra respecter cette notation.*
*Ainsi Turing=Info(1912,Maida Vale, Royaume-Uni) crée un p-uplet nommé. Son nom est Turing.<BR>
Pour récupérer le champ de l’année de naissance de Turing, il suffit de taper Turing.annee.<BR>
De la même manière, Turing.pays retournera Royaume-Uni.*

*Exemple : <BR> Exécuter le code ci-dessous qui va créer le p-uplet nommé Info qui contiendra pour chaque nom les champs annee, etude et pays*

In [3]:
from collections import namedtuple
Info=namedtuple('Nom','annee etude pays')

Créer les informaticiens suivants en complétant la cellule de code ci-dessus: 


*   Charles_Babbage=Info(1791,'machines','Royaume-Uni')
*   Heddy_Lamarr=Info(1914,'machines','Autriche')
*   Rose_Dieng-Kuntz=Info(1956,'intelligence artificielle','Sénégal')

Ainsi, pour récupérer l’année de naissance de Shafi_Goldwasser, il suffit de taper : Shafi_Goldwasser.annee <BR>
A vous de trouver 3 autre informaticiens ou informaticiennes célèbres avec les champs correspondants.<BR>
Rajoutez les dans la ligne de code ci-dessus.<BR>
Compléter ensuite pour faire afficher toutes les années.